{%extends 'forum_app/base.html' %}
{%block content%}
<h1 style="text-align: center;">Recent forum posts</h1>
{%for post in posts%}
<div style="background-color: orange; margin-bottom: 5px;">
    <a href="{% url 'forum_app:post' post.id%}" class="nav-link text-light" style="font-size: 20px; font-weight: 600;">
        {{post.title}}
        <br>
        {{post.description}}
        <br>
        {{post.author}}
        <br>
        {{post.date}}
        <br>
    </a>
</div>

{%endfor%}

{%endblock%}